
.book-section {
    text-align: center;
    padding: 60px 20px;
}

.book-section h2 {
    font-size: 40px;
    margin-bottom: 30px;
}


.book-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 15px;
}


.book-form input,
.book-form select,
.book-form textarea {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.6);
    outline: none;
    font-size: 16px;
}


.book-form button {
    padding: 12px;
    background: rgb(238, 82, 189);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.book-form button:hover {
    background: black;
}

/*  to make the page looks also good on a smaller screen  */
@media (max-width:768px) {

    /* HEADER */
    #header-section {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        margin: 10px;
        border-radius: 30px;
    }


    .logo {
        font-size: 22px;
        margin-bottom: 15px;
    }


    #nav-buttons {
        width: 100%;
    }


    #nav-buttons ul {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: flex-start;
    }


    #nav-buttons ul li a {
        font-size: 12px;
    }



    /* HERO */
    #hero {
        flex-direction: column;
        height: auto;
    }


    .hero-left {
        margin: 15px;
        padding: 35px 20px;
        border-radius: 30px;
        text-align: left;
    }


    .hero-left h4 {
        font-size: 22px;
    }


    .hero-left p {
        font-size: 15px;
        max-width: 100%;
    }


    .main-btn {
        margin-top: 20px;
    }



    /* IMAGES */
    .hero-right {
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        padding: 15px;
    }


    .image-card img {
        height: 130px;
    }


    .description-image {
        font-size: 12px;
    }

}