*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('../Images/flower5.jpg');
    background-size: cover;
    background-position: center;
    color: black;
    padding: 20px 60px;
    background: rgba(255, 255, 255, 0.497);
    border-radius: 75px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.main-body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('../Images/flower5.jpg');
    background-size: cover;
    background-position: center;
    color: black;
}